.about-page {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(0.1) translateX(165vw);
  transition: all 2s;
  z-index: 0; }
  .about-page.active {
    z-index: 100;
    transform: scale(1) translateX(0); }
