.skill-page {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(0.1) translateX(-55vw);
  transition: 2s all;
  z-index: 0; }
  .skill-page.active {
    z-index: 100;
    transform: scale(1) translateX(0); }
